<div class="mat-typography app-frame mat-app-background">
    <mat-toolbar>
        <button mat-button color="primary">Decks</button>
        <button mat-button color="primary">Cartas</button>
        <button mat-button color="primary">Qué me falta?</button>
        <button mat-button color="primary">Generar lista de wants para MKM</button>
        <button mat-button color="primary">Estadísticas (FNM)</button>
        <button mat-button color="primary">Exportar a MTGA - Quizá</button>
        <!-- <span>Submenu cartas: en uso</span>
        <span>Submenu cartas: libres</span> -->
    </mat-toolbar>
    <div class="app-body">
        <div class="app-panel">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>