@import "~@angular/material/_theming.scss";
@include mat-core();

$default-theme: mat-dark-theme(mat-palette($mat-green, A400), mat-palette($mat-light-blue, A400));
@include angular-material-theme($default-theme);

html,
body,
app-root,
.app-frame {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}
