<button (click)="setActivePlayer(2)" mat-button color="primary" #btnNigekki>
    Nigekki
</button>
<button (click)="setActivePlayer(1)" mat-button color="primary" #btnNahum>
    Nahúm
</button>
<button (click)="setActivePlayer(3)" mat-button color="primary" #btnAdriku>
    Adriku
</button>
<!-- <button (click)="setActivePlayer(2)" mat-icon-button>
    <mat-icon svgIcon="nigekki"></mat-icon>
</button>
<button (click)="setActivePlayer(3)" mat-icon-button>
    <mat-icon svgIcon="adriku"></mat-icon>
</button>
<button (click)="setActivePlayer(1)" mat-icon-button>
    <mat-icon svgIcon="nahum"></mat-icon>
</button> -->